*{
    border: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
}
.container{
    width:170px;
    height:550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display{
    width: 170px;
    margin-bottom:20px;
    height:30px;
    border: 2px solid black;
    text-align:right;
    color:black;
}

#btn0, #btnEqual{
    height:30px;
    width:65px;
}

button{
    height:30px;
    width:30px;
    margin-bottom:5px;
}

button:active {
    transform: scale(0.95);  /* Slightly reduce the size */
    background-color: #ddd;  /* Change the background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* Add shadow effect */
}
